#Title{
    text-align: center;
}

main{
    width: 60%;
    margin: 0 auto;
   }

#user_input{
    text-align: center;
}

#buttons{
    text-align: center;
}

article table{
    width: 100%;
}

.incorr {
  color: red;
  text-decoration: underline;
  background:yellow;
}

.corr {
  color: black;
}

.wpm_div  {
    display: none;
  }
.para {
    color: gray;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  